// variables 
$paragraph-height : 1.5rem;
@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 1rem;
    margin-top: 1rem;
}

body{
    background-color: $color;
    font-family: sans-serif;
}

h1{
    font-family: $heading-fonts;
    text-align: center;
}

h2{
    background-color: #f3f3f3;
}

span{
    background-color: lightsalmon;
}


header{
    background-color: #333;
    color: #f3f3f3;

    h1{
        color: aqua;
    }
}


//* &- represents the parent name with class or id 
.section{
    width: 50%;
    margin: 1rem auto;

    &-a{
        background-color: aquamarine;
    }

    &-b{
        background-color: bisque;
    }
}

a{
color: #333;
&:hover{
    color:red;
}
}