//*  variables 
$paragraph-height : 1.5rem;

//*  partials 
@import 'variables';
@import 'function';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 1rem;
    margin-top: 1rem;
}

body{
    background-color: $color;
    font-family: sans-serif;
}

h1{
    font-family: $heading-fonts;
    text-align: center;
}

h2{
    background-color: #f3f3f3;
}

span{
    background-color: lightsalmon;
}

//*  Nesting
header{
    background-color: white;
   

    h1{
        color: set-text-color(white);
    }
}


//* &- represents the parent name with class or id 
.section{
    width: 50%;
    margin: 1rem auto;

    &-a{
        background-color: aquamarine;
    }

    &-b{
        background-color: bisque;
    }
}

a{
color: #333;
&:hover{
    color:red;
}
}


//*  Inheritance 

%btn-shared{

    display: inline-block;
    padding: 0.7rem 2rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1rem;
}

.btn{
    
    &-light{
        @extend %btn-shared;
        background-color: #333;
        color: white;


        &:hover{
           @include transform(rotate(20deg));
           background-color: darken(#333,20%);    
        }
    }
    &-dark{
        @extend %btn-shared;
        background-color: #f3f3f3;
        color: black;

        &:hover{
           @include transform(rotate(-20deg));
            background-color: darken(#fff,20%);    
        }
    }

}