// variables 
$paragraph-height : 1.5rem;
@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 1rem;
}

body{
    background-color: $color;
    font-family: sans-serif;
}

h1{
    font-family: $heading-fonts;
    text-align: center;
}

h2{
    background-color: #f3f3f3;
}